@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Pacifico&family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Pacifico&family=Pinyon+Script&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

html,
body {
  background-color: #000;
  font-family: inter, sans-serif;
  --font-pinyon: ${pinyon.style};
  color: white;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth ;
  overflow-x: hidden;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  /* .noisy {
    @apply absolute size-full inset-0 bg-[url('/images/noise.png')]  ;
  } */
}
:root {
  font-family: var(--font-pinyon);
}
.font-pinyon {
  font-family: var(--font-pinyon);
}
.font-poppins {
  font-family: var(--font-poppins);
}
.font-zalando {
  font-family: var(--font-zalando);
}
