@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Pacifico&family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Pacifico&family=Pinyon+Script&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Pacifico&family=Pinyon+Script&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

html,
body {
  background-color: #000;
  font-family: "Satoshi", sans-serif;
  --font-pinyon: ${pinyon.style};
  --font-Hatton: ${hatton.style};
  --font-poppins: ${poppins.style};
  --font-zalando: ${zalando.style};
  --font-dmmono: ${dmmono.style};
  color: white;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth ;
  overflow-x: hidden
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  /* .noisy {
    @apply absolute size-full inset-0 bg-[url('/images/noise.png')]  ;
  } */
}
:root {
  font-family: var(--font-pinyon);
}
.font-pinyon {
  font-family: var(--font-pinyon);
}
.font-poppins {
  font-family: var(--font-poppins);
}
.font-zalando {
  font-family: var(--font-zalando);
}
.font-dmmono {
  font-family: var(--font-dmmono);
}
.font-Hatton {
  font-family: "Hatton", sans-serif; ;
}
@font-face {
  font-family: "Hatton";
  src: url(../fonts/PP\ Hatton\ Ultralight\ 200.otf);
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Black.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Chillax";
  src: url(../fonts/Chillax-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
